$colormenu: #fff;
$fontmenu: #000;
$hovermenu: #c0c0c0;
$font-stack:    Helvetica, sans-serif;
@import "compass/utilities/sprites";
@import "../../assets/img/sprites/*.png";
@include all-sprites-sprites;

@mixin flex($target, $context){
width: (($target/$context)*100%);
}

/*

images/my-icons/new.png
images/my-icons/edit.png
images/my-icons/save.png
images/my-icons/delete.png


.actions {
  .new    { @include my-icons-sprite(new);    }
  .edit   { @include my-icons-sprite(edit);   }
  .save   { @include my-icons-sprite(save);   }
  .delete { @include my-icons-sprite(delete); }
}
*/


nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}  


body {
  font: 100% $font-stack;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.menu{
	background-color:$colormenu;
	ul {
		margin: 0px;
		padding: 0px;
		li{
			list-style: none;
			a {
				color: $fontmenu;
				&:hover {
					color: $hovermenu;
				}
			}
		}
	}
}
.box { @include border-radius(10px); }
