/* line 6, main.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 13, main.scss */
body {
  font: 100% Helvetica, sans-serif;
}

/* line 24, main.scss */
.menu {
  background-color: #fff;
}
/* line 26, main.scss */
.menu ul {
  margin: 0px;
  padding: 0px;
}
/* line 29, main.scss */
.menu ul li {
  list-style: none;
}
/* line 31, main.scss */
.menu ul li a {
  color: #000;
}
/* line 33, main.scss */
.menu ul li a:hover {
  color: #c0c0c0;
}

/* line 40, main.scss */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
