$colormenu: #fff;
$fontmenu: #000;
$hovermenu: #c0c0c0;
$font-stack:    Helvetica, sans-serif;
@import "compass/utilities/sprites";
@import "../../assets/img/sprites/*.png";
@include all-sprites-sprites;

@mixin flex($target, $context){
width: (($target/$context)*100%);
}

img {   
  max-width: 100%;   
  height: auto;  
} 

.responsive-text {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

* {
    box-sizing: border-box;
}


body {
	background-color: #000;
	width: 100%;
	height: auto;
	background-size: cover; 
}


nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}  


body {
  font: 100% $font-stack;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.menu{
	background-color:$colormenu;
	ul {
		margin: 0px;
		padding: 0px;
		li{
			list-style: none;
			a {
				color: $fontmenu;
				&:hover {
					color: $hovermenu;
				}
			}
		}
	}
}
.box { @include border-radius(10px); }
